<div class="container">
    
    <form #formularioPessoa="ngForm">

        <div class="ui-g">

            <div class="ui-g-12">
                <h1>Nova Pessoa</h1>
            </div>

            <div class="ui-g-12 ui-fluid">
                <label>Nome</label>
                <input pInputText type="text" required minlength="5"
                    ngModel name="nome" #nome="ngModel" >
                <app-message [control]="nome" error="required" text="Informe o nome"></app-message>
                <app-message [control]="nome" error="minlength"
                    text="Mínimo de {{ nome.errors?.minlength?.requiredLength }} caracteres."></app-message>
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
                <label>Logradouro</label>
                <input pInputText type="text" required
                    ngModel name="logradouro" #logradouro="ngModel" >
                <app-message [control]="logradouro" error="required" text="Informe o Logradouro"></app-message>
            </div>

            <div class="ui-g-12 ui-md-3 ui-fluid">
                <label>Número</label>
                <input pInputText type="text" required
                    ngModel name="numero" #numero="ngModel" >
                <app-message [control]="numero" error="required" text="Informe o número"></app-message>
            </div>

            <div class="ui-g-12 ui-md-4 ui-fluid">
                <label>Complemento</label>
                <input pInputText type="text" >
            </div>
            
            <div class="ui-g-12 ui-md-4 ui-fluid">
                <label>Bairro</label>
                <input pInputText type="text" required
                    ngModel name="bairro" #bairro="ngModel" >
                <app-message [control]="bairro" error="required" text="Informe o bairro"></app-message>
            </div>

            <div class="ui-g-12 ui-md-4 ui-fluid">
                <label>CEP</label>
                <p-inputMask mask="99.999-999" required
                    ngModel name="cep" #cep="ngModel" ></p-inputMask>
                <app-message [control]="cep" error="required" text="Informe o CEP"></app-message>
            </div>

            <div class="ui-g-12 ui-md-6 ui-fluid">
                <label>Cidade</label>
                <input pInputText type="text" required
                    ngModel name="cidade" #cidade="ngModel" >
                <app-message [control]="cidade" error="required" text="Informe a cidade"></app-message>
            </div>

            <div class="ui-g-12 ui-md-6 ui-fluid">
                <label>Estado</label>
                <input pInputText type="text" required
                    ngModel name="estado" #estado="ngModel" >
                <app-message [control]="estado" error="required" text="Informe o estado"></app-message>
            </div>

            <div class="ui-g-12">
                <button pButton type="submit" label="Salvar" style="margin-right: 5px" [disabled]="formularioPessoa.invalid"></button>
                <button pButton type="button" label="Novo" class="ui-button-info" style="margin-right: 5px"></button>
                <a href="javascript:;">Voltar para a pesquisa</a>
            </div>

        </div>
        
    </form>

</div>